body {
    background-color: #1d2630;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px 24px;
    max-width:  720px;
    margin: 0 auto;
    min-height: 100vh;
}

#form-error {
    color: red;
    position: absolute;
    bottom: -32px;
    left: 0;
}

.new-note {
    margin-bottom: 32px;
    background-color: white;
    border: 1px solid #dadada;
    padding: 16px;
    position: relative;
}

.new-note input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 0 12px;
}

.new-note textarea {
    display: block;
    width: 100%;
    min-height: 100px;
    border: none;
    resize: none;
    background: transparent;
    outline: none;
    padding: 0;   
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.add-btn {
    background-color: blueviolet;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 50px;
    border: none;
    color: white;
}

.add-btn :hover {
    opacity: 0.9;
}

#notes-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.note {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 16px;
}

.note > *[contenteditable='true'] {
    color: #5f5f5f;
    width: 100%;
    outline: none;

}

.note-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
    width: 100%;
    display: inline-block;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.note-title:last-child {
    margin-bottom: 0;

}

.note-text {
    margin-bottom: 16px;
    background-color: white;
    width: 100%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;   
}

.note-date {
    font-size: 0.75rem;
    text-align: right;
    border-top: 1px solid #dadada;
    padding-top: 16px;
    width: 100%;
    margin-top: auto;
}

.note-controls {
    position: absolute;
    right: 0%;
    top: 0;
    background-color: white;
    font-size: 0.75rem;
    column-gap: 8px;
    display: flex;
    opacity: 0;
    transition: opacity 350ms;
}

.note:hover .note-controls, .note-controls:focus-within {
    opacity: 1;


}

.note-controls button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem;
}

.note-controls button:hover {
    filter: brightness(0.85);
}

.note-delete {
    color: red;
}

.note-edit {
    color: green;
}

.note-save{
    color: blue;
}

.note-save[disabled='true']{
    color: #dfdfdf;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}


